/*
 * ChannelEngine Merchant API
 * ChannelEngine API for merchants
 *
 * The version of the OpenAPI document: 2.11.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.channelengine.merchant.apiclient.api;

import com.channelengine.merchant.apiclient.ApiCallback;
import com.channelengine.merchant.apiclient.ApiClient;
import com.channelengine.merchant.apiclient.ApiException;
import com.channelengine.merchant.apiclient.ApiResponse;
import com.channelengine.merchant.apiclient.Configuration;
import com.channelengine.merchant.apiclient.Pair;
import com.channelengine.merchant.apiclient.ProgressRequestBody;
import com.channelengine.merchant.apiclient.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.channelengine.merchant.apiclient.model.CollectionOfMerchantProductWithBuyBoxPrice;
import com.channelengine.merchant.apiclient.model.ModelApiResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class CompetitionPriceApi {
    private ApiClient localVarApiClient;

    public CompetitionPriceApi() {
        this(Configuration.getDefaultApiClient());
    }

    public CompetitionPriceApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for competitionPricesGetBuyBoxPrices
     * @param channelId The id of the channel (optional)
     * @param gtinList Search products by submitting a list of GTIN&#39;s. (optional)&lt;br /&gt;Max. 2000. (optional)
     * @param skuList Search products by submitting a list of Sku&#39;s. (optional)&lt;br /&gt;Max. 2000. If GtinList is already set, this one is ignored. (optional)
     * @param page The page to filter on. Starts at 1. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call competitionPricesGetBuyBoxPricesCall(Integer channelId, List<String> gtinList, List<String> skuList, Integer page, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v2/competitionprices/buyboxprices";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (channelId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("channelId", channelId));
        }

        if (gtinList != null) {
            localVarCollectionQueryParams.addAll(localVarApiClient.parameterToPairs("multi", "gtinList", gtinList));
        }

        if (skuList != null) {
            localVarCollectionQueryParams.addAll(localVarApiClient.parameterToPairs("multi", "skuList", skuList));
        }

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiKey" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call competitionPricesGetBuyBoxPricesValidateBeforeCall(Integer channelId, List<String> gtinList, List<String> skuList, Integer page, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = competitionPricesGetBuyBoxPricesCall(channelId, gtinList, skuList, page, _callback);
        return localVarCall;

    }

    /**
     * Get the BuyBox winner prices
     * Get the current price of the BuyBox winner per product for a channel.
     * @param channelId The id of the channel (optional)
     * @param gtinList Search products by submitting a list of GTIN&#39;s. (optional)&lt;br /&gt;Max. 2000. (optional)
     * @param skuList Search products by submitting a list of Sku&#39;s. (optional)&lt;br /&gt;Max. 2000. If GtinList is already set, this one is ignored. (optional)
     * @param page The page to filter on. Starts at 1. (optional)
     * @return CollectionOfMerchantProductWithBuyBoxPrice
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
     </table>
     */
    public CollectionOfMerchantProductWithBuyBoxPrice competitionPricesGetBuyBoxPrices(Integer channelId, List<String> gtinList, List<String> skuList, Integer page) throws ApiException {
        ApiResponse<CollectionOfMerchantProductWithBuyBoxPrice> localVarResp = competitionPricesGetBuyBoxPricesWithHttpInfo(channelId, gtinList, skuList, page);
        return localVarResp.getData();
    }

    /**
     * Get the BuyBox winner prices
     * Get the current price of the BuyBox winner per product for a channel.
     * @param channelId The id of the channel (optional)
     * @param gtinList Search products by submitting a list of GTIN&#39;s. (optional)&lt;br /&gt;Max. 2000. (optional)
     * @param skuList Search products by submitting a list of Sku&#39;s. (optional)&lt;br /&gt;Max. 2000. If GtinList is already set, this one is ignored. (optional)
     * @param page The page to filter on. Starts at 1. (optional)
     * @return ApiResponse&lt;CollectionOfMerchantProductWithBuyBoxPrice&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<CollectionOfMerchantProductWithBuyBoxPrice> competitionPricesGetBuyBoxPricesWithHttpInfo(Integer channelId, List<String> gtinList, List<String> skuList, Integer page) throws ApiException {
        okhttp3.Call localVarCall = competitionPricesGetBuyBoxPricesValidateBeforeCall(channelId, gtinList, skuList, page, null);
        Type localVarReturnType = new TypeToken<CollectionOfMerchantProductWithBuyBoxPrice>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get the BuyBox winner prices (asynchronously)
     * Get the current price of the BuyBox winner per product for a channel.
     * @param channelId The id of the channel (optional)
     * @param gtinList Search products by submitting a list of GTIN&#39;s. (optional)&lt;br /&gt;Max. 2000. (optional)
     * @param skuList Search products by submitting a list of Sku&#39;s. (optional)&lt;br /&gt;Max. 2000. If GtinList is already set, this one is ignored. (optional)
     * @param page The page to filter on. Starts at 1. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Success </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call competitionPricesGetBuyBoxPricesAsync(Integer channelId, List<String> gtinList, List<String> skuList, Integer page, final ApiCallback<CollectionOfMerchantProductWithBuyBoxPrice> _callback) throws ApiException {

        okhttp3.Call localVarCall = competitionPricesGetBuyBoxPricesValidateBeforeCall(channelId, gtinList, skuList, page, _callback);
        Type localVarReturnType = new TypeToken<CollectionOfMerchantProductWithBuyBoxPrice>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
