openapi: 3.0.1
info:
  description: ChannelEngine API for merchants
  title: ChannelEngine Merchant API
  version: 2.11.0
servers:
- url: https://demo.channelengine.net/api
security:
- apiKey: []
paths:
  /v2/cancellations:
    post:
      description: Mark (part of) an order as cancelled.
      operationId: CancellationCreate
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MerchantCancellationRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantCancellationRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MerchantCancellationRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Conflict
      summary: Create Cancellation.
      tags:
      - Cancellation
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /v2/channels:
    get:
      description: Get all channels (excluding deleted ones).<br />You can use the
        returned ids to query the listed products for this channel from the ListedProducts
        endpoint.
      operationId: Channel PluginsGet
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfChannelGlobalChannelResponse'
          description: Success
      summary: Get Channels.
      tags:
      - Channels
      x-accepts: application/json
  /v2/competitionprices/buyboxprices:
    get:
      description: Get the current price of the BuyBox winner per product for a channel.
      operationId: CompetitionPricesGetBuyBoxPrices
      parameters:
      - description: The id of the channel
        explode: true
        in: query
        name: channelId
        required: false
        schema:
          description: The id of the channel
          format: int32
          type: integer
        style: form
      - description: Search products by submitting a list of GTIN's. (optional)<br
          />Max. 2000.
        explode: true
        in: query
        name: gtinList
        required: false
        schema:
          description: "Search products by submitting a list of GTIN's. (optional)\r\
            \nMax. 2000."
          items:
            type: string
          type: array
        style: form
      - description: Search products by submitting a list of Sku's. (optional)<br
          />Max. 2000. If GtinList is already set, this one is ignored.
        explode: true
        in: query
        name: skuList
        required: false
        schema:
          description: "Search products by submitting a list of Sku's. (optional)\r\
            \nMax. 2000. If GtinList is already set, this one is ignored."
          items:
            type: string
          type: array
        style: form
      - description: The page to filter on. Starts at 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: The page to filter on. Starts at 1.
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantProductWithBuyBoxPrice'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Bad Request
      summary: Get the BuyBox winner prices
      tags:
      - CompetitionPrice
      x-accepts: application/json
  /v2/channels/{channelId}/products:
    get:
      description: 'Gets the status of products listed for channel (export status)
        and on a channel (channel status).<br />Includes products that were previously
        deleted from but are now set to be created again.<br />Note: not all channels
        provide adequate options to retrieve the status on the channel.'
      operationId: Listed ProductGetByFilter
      parameters:
      - description: The id of a channel
        explode: false
        in: path
        name: channelId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: The page to filter on. Starts at 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: The page to filter on. Starts at 1.
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfChannelListedProductResponse'
          description: Success
      summary: Get Listed Products
      tags:
      - ListedProducts
      x-accepts: application/json
  /v2/notifications:
    get:
      description: Gets all notifications based on filter.
      operationId: NotificationIndex
      parameters:
      - description: Filter on the notification date, starting from this date. This
          date is inclusive.
        explode: true
        in: query
        name: fromDate
        required: false
        schema:
          description: Filter on the notification date, starting from this date. This
            date is inclusive.
          format: date-time
          type: string
        style: form
      - description: Filter on the notification date, until this date. This date is
          exclusive.
        explode: true
        in: query
        name: toDate
        required: false
        schema:
          description: Filter on the notification date, until this date. This date
            is exclusive.
          format: date-time
          type: string
        style: form
      - description: Notification type(s) to filter on.
        explode: true
        in: query
        name: types
        required: false
        schema:
          description: Notification type(s) to filter on.
          items:
            $ref: '#/components/schemas/NotificationType'
          type: array
        style: form
      - description: Filter on unique order reference used by the merchant.
        explode: true
        in: query
        name: merchantOrderNos
        required: false
        schema:
          description: Filter on unique order reference used by the merchant.
          items:
            type: string
          type: array
        style: form
      - description: Filter on unique order reference used by the channel.
        explode: true
        in: query
        name: channelOrderNos
        required: false
        schema:
          description: Filter on unique order reference used by the channel.
          items:
            type: string
          type: array
        style: form
      - description: Filter on unique return reference used by the merchant.
        explode: true
        in: query
        name: merchantReturnNos
        required: false
        schema:
          description: Filter on unique return reference used by the merchant.
          items:
            type: string
          type: array
        style: form
      - description: Filter on unique return reference used by the channel.
        explode: true
        in: query
        name: channelReturnNos
        required: false
        schema:
          description: Filter on unique return reference used by the channel.
          items:
            type: string
          type: array
        style: form
      - description: Filter on unique shipment reference used by the merchant.
        explode: true
        in: query
        name: merchantShipmentNos
        required: false
        schema:
          description: Filter on unique shipment reference used by the merchant.
          items:
            type: string
          type: array
        style: form
      - description: The page to filter on. Starts at 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: The page to filter on. Starts at 1.
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantNotificationResponse'
          description: Success
      summary: Get Notifications.
      tags:
      - Notification
      x-accepts: application/json
  /v2/offer:
    put:
      description: Update stock and/or price of product(s).
      operationId: OfferStockPriceUpdate
      requestBody:
        content:
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/MerchantStockPriceUpdateRequest'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/MerchantStockPriceUpdateRequest'
              type: array
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/MerchantStockPriceUpdateRequest'
              type: array
        description: References to the products that should be updated, and the new
          values<br />for the stock or price fields. It is possible to supply only
          one of the two fields<br />or both.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleOfDictionaryOfStringAndListOfString'
          description: Success
      summary: Update stock and/or price.
      tags:
      - Offer
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /v2/offer/stock:
    get:
      description: Get stock of products at stock location(s).
      operationId: OfferGetStock
      parameters:
      - description: List of your products' sku's.
        explode: true
        in: query
        name: skus
        required: false
        schema:
          description: List of your products' sku's.
          items:
            type: string
          type: array
        style: form
      - description: The ChannelEngine id of the stock location(s).
        explode: true
        in: query
        name: stockLocationIds
        required: true
        schema:
          description: The ChannelEngine id of the stock location(s).
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: A page index to get the items (starts from 0)
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          description: A page index to get the items (starts from 0)
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return (default 100)
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          description: Number of items to return (default 100)
          format: int32
          maximum: 500
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantOfferGetStockResponse'
          description: Success
      summary: Get stock for products.
      tags:
      - Offer
      x-accepts: application/json
    put:
      description: Update only stock of product(s).
      operationId: OfferStockUpdate
      requestBody:
        content:
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/MerchantOfferStockUpdateRequest'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/MerchantOfferStockUpdateRequest'
              type: array
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/MerchantOfferStockUpdateRequest'
              type: array
        description: References to the new values for the stock fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleOfDictionaryOfStringAndListOfString'
          description: Success
      summary: Update only stock.
      tags:
      - Offer
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /v2/orders:
    get:
      description: Fetch orders based on the provided OrderFilter.
      operationId: OrderGetByFilter
      parameters:
      - description: Order status(es) to filter on. AWAITING_PAYMENT orders will be
          excluded if it is not included in this Statuses filter.
        explode: true
        in: query
        name: statuses
        required: false
        schema:
          description: Order status(es) to filter on. AWAITING_PAYMENT orders will
            be excluded if it is not included in this Statuses filter.
          items:
            $ref: '#/components/schemas/OrderStatusView'
          type: array
        style: form
      - description: Client emailaddresses to filter on.
        explode: true
        in: query
        name: emailAddresses
        required: false
        schema:
          description: Client emailaddresses to filter on.
          items:
            type: string
          type: array
        style: form
      - description: Filter on unique order reference used by the merchant.
        explode: true
        in: query
        name: merchantOrderNos
        required: false
        schema:
          description: Filter on unique order reference used by the merchant.
          items:
            type: string
          type: array
        style: form
      - description: Filter on unique order reference used by the channel.
        explode: true
        in: query
        name: channelOrderNos
        required: false
        schema:
          description: Filter on unique order reference used by the channel.
          items:
            type: string
          type: array
        style: form
      - description: Filter on the order date, starting from this date. This date
          is inclusive.<br />The order date is based on the data we got from a channel.
        explode: true
        in: query
        name: fromDate
        required: false
        schema:
          description: "Filter on the order date, starting from this date. This date\
            \ is inclusive.\r\nThe order date is based on the data we got from a channel."
          format: date-time
          type: string
        style: form
      - description: Filter on the order date, until this date. This date is exclusive.<br
          />The order date is based on the data we got from a channel.
        explode: true
        in: query
        name: toDate
        required: false
        schema:
          description: "Filter on the order date, until this date. This date is exclusive.\r\
            \nThe order date is based on the data we got from a channel."
          format: date-time
          type: string
        style: form
      - description: Filter on the created at date in ChannelEngine, starting from
          this date. This date is inclusive.<br />The created date is set on the date
          and time when the order is created.
        explode: true
        in: query
        name: fromCreatedAtDate
        required: false
        schema:
          description: "Filter on the created at date in ChannelEngine, starting from\
            \ this date. This date is inclusive.\r\nThe created date is set on the\
            \ date and time when the order is created."
          format: date-time
          type: string
        style: form
      - description: Filter on the created at date in ChannelEngine, until this date.
          This date is exclusive.<br />The created date is set on the date and time
          when the order is created.
        explode: true
        in: query
        name: toCreatedAtDate
        required: false
        schema:
          description: "Filter on the created at date in ChannelEngine, until this\
            \ date. This date is exclusive.\r\nThe created date is set on the date\
            \ and time when the order is created."
          format: date-time
          type: string
        style: form
      - description: Exclude order (lines) fulfilled by the marketplace (amazon:FBA,
          bol:LVB, etc.)
        explode: true
        in: query
        name: excludeMarketplaceFulfilledOrdersAndLines
        required: false
        schema:
          description: Exclude order (lines) fulfilled by the marketplace (amazon:FBA,
            bol:LVB, etc.)
          type: boolean
        style: form
      - description: Filter orders on fulfillment type. This will include all orders
          lines, even if they are partially fulfilled by the marketplace.<br />To
          exclude orders and lines that are fulfilled by the marketplace from the
          response, set ExcludeMarketplaceFulfilledOrdersAndLines to true.
        explode: true
        in: query
        name: fulfillmentType
        required: false
        schema:
          $ref: '#/components/schemas/FulfillmentType'
        style: form
      - description: Filter on orders containing cancellation requests.<br />Some
          channels allow a customer to cancel an order until it has been shipped.<br
          />When an order has already been acknowledged in ChannelEngine, it can only
          be cancelled by creating a cancellation.
        explode: true
        in: query
        name: onlyWithCancellationRequests
        required: false
        schema:
          description: "Filter on orders containing cancellation requests.\r\nSome\
            \ channels allow a customer to cancel an order until it has been shipped.\r\
            \nWhen an order has already been acknowledged in ChannelEngine, it can\
            \ only be cancelled by creating a cancellation."
          type: boolean
        style: form
      - description: Filter orders on channel(s).
        explode: true
        in: query
        name: channelIds
        required: false
        schema:
          description: Filter orders on channel(s).
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: Filter on stock locations
        explode: true
        in: query
        name: stockLocationIds
        required: false
        schema:
          description: Filter on stock locations
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: Filter on acknowledged value
        explode: true
        in: query
        name: isAcknowledged
        required: false
        schema:
          description: Filter on acknowledged value
          type: boolean
        style: form
      - description: Filter on the order update date, starting from this date. This
          date is inclusive.
        explode: true
        in: query
        name: fromUpdatedAtDate
        required: false
        schema:
          description: Filter on the order update date, starting from this date. This
            date is inclusive.
          format: date-time
          type: string
        style: form
      - description: Filter on the order update date, unitl this date. This date is
          exclusive.
        explode: true
        in: query
        name: toUpdatedAtDate
        required: false
        schema:
          description: Filter on the order update date, unitl this date. This date
            is exclusive.
          format: date-time
          type: string
        style: form
      - description: Filter on the order acknowledged date, starting from this date.
          This date is inclusive.
        explode: true
        in: query
        name: fromAcknowledgedDate
        required: false
        schema:
          description: Filter on the order acknowledged date, starting from this date.
            This date is inclusive.
          format: date-time
          type: string
        style: form
      - description: Filter on the order acknowledged date, unitl this date. This
          date is exclusive.
        explode: true
        in: query
        name: toAcknowledgedDate
        required: false
        schema:
          description: Filter on the order acknowledged date, unitl this date. This
            date is exclusive.
          format: date-time
          type: string
        style: form
      - description: The page to filter on. Starts at 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: The page to filter on. Starts at 1.
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantOrderResponse'
          description: Success
      summary: Get Orders By Filter.
      tags:
      - Order
      x-accepts: application/json
  /v2/orders/new:
    get:
      description: Fetch newly placed orders (order with status NEW).
      operationId: OrderGetNew
      parameters:
      - description: The ChannelEngine id of the stock location.
        explode: true
        in: query
        name: stockLocationId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantOrderResponse'
          description: Success
      summary: Get New Orders.
      tags:
      - Order
      x-accepts: application/json
  /v2/orders/acknowledge:
    post:
      description: Acknowledge an order. By acknowledging the order the merchant can
        confirm that<br />the order has been imported. When acknowledging an order
        the merchant has to supply<br />references that uniquely identify the order
        and the order lines. These references<br />will be used in the other API calls.
      operationId: OrderAcknowledge
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MerchantOrderAcknowledgementRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantOrderAcknowledgementRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MerchantOrderAcknowledgementRequest'
        description: Relations between the id's returned by ChannelEngine and the
          references which the merchant uses.
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Conflict
      summary: Acknowledge Order.
      tags:
      - Order
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /v2/orders/{merchantOrderNo}/invoice:
    get:
      description: Generates the ChannelEngine VAT invoice for this order in PDF.
      operationId: OrderInvoice
      parameters:
      - description: The unique order reference as used by the merchant.
        explode: false
        in: path
        name: merchantOrderNo
        required: true
        schema:
          type: string
        style: simple
      - description: Generate the invoice in the billing address' country's language.
        explode: true
        in: query
        name: useCustomerCulture
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/pdf:
              schema:
                format: byte
                type: file
          description: Invoice PDF
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
      summary: Download Invoice.
      tags:
      - Order
      x-accepts: application/json
  /v2/orders/{merchantOrderNo}/packingslip:
    get:
      description: Generates the ChannelEngine packing slip for this order in PDF.
      operationId: OrderPackingSlip
      parameters:
      - description: The unique order reference as used by the merchant.
        explode: false
        in: path
        name: merchantOrderNo
        required: true
        schema:
          type: string
        style: simple
      - description: Generate the invoice in the billing address' country's language.
        explode: true
        in: query
        name: useCustomerCulture
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/pdf:
              schema:
                format: byte
                type: file
          description: Packing Slip PDF
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
      summary: Download Packing Slip.
      tags:
      - Order
      x-accepts: application/json
  /v2/orders/comment:
    put:
      description: Update the merchant comment for an order. Either the ChannelEngine
        order id or the<br />merchant order number can be used for updating a comment.
      operationId: OrderUpdate
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MerchantOrderCommentUpdateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantOrderCommentUpdateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MerchantOrderCommentUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
      summary: Update Comment.
      tags:
      - Order
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /v2/products:
    get:
      description: Retrieve all products.
      operationId: ProductGetByFilter
      parameters:
      - description: Search product(s) by Name, MerchantProductNo, Ean or Brand<br
          />This search is applied to the result after applying the other filters.
        explode: true
        in: query
        name: search
        required: false
        schema:
          description: "Search product(s) by Name, MerchantProductNo, Ean or Brand\r\
            \nThis search is applied to the result after applying the other filters."
          type: string
        style: form
      - description: Search products by submitting a list of EAN's.
        explode: true
        in: query
        name: eanList
        required: false
        schema:
          description: Search products by submitting a list of EAN's.
          items:
            type: string
          type: array
        style: form
      - description: Search products by submitting a list of MerchantProductNo's.
        explode: true
        in: query
        name: merchantProductNoList
        required: false
        schema:
          description: Search products by submitting a list of MerchantProductNo's.
          items:
            type: string
          type: array
        style: form
      - description: The page to filter on. Starts at 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: The page to filter on. Starts at 1.
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantProductResponse'
          description: Success
      summary: Get Products.
      tags:
      - Product
      x-accepts: application/json
    patch:
      description: 'This endpoint allows you to update multiple fields on a multiple
        products.<br />Products sent in a request can only be updated for the fields
        listed in object ''PropertiesToUpdate''. <br />In other words, you specify
        which products you want to update and which fields should be updated for all
        products.<br /><br />Sample request:<br /><br /> PATCH /v2/products<br />
        {<br /> "PropertiesToUpdate": [<br /> "name",<br /> "description"<br /> ],<br
        /> "MerchantProductRequestModels": [<br /> {<br /> "MerchantProductNo": "testMerchantProductNo",<br
        /> "Name": "testName",<br /> "Description": "testDescription",<br /> },<br
        /> {<br /> "MerchantProductNo": "testMerchantProductNo2",<br /> "Name": "testName3",<br
        /> "Description": "testDescription1",<br /> }<br /> ]<br /> }'
      operationId: ProductBulkPatch
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PatchMerchantProductDto'
          application/json:
            schema:
              $ref: '#/components/schemas/PatchMerchantProductDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PatchMerchantProductDto'
        description: '1) PropertiesToUpdate: Fields to update<br />2) MerchantProductRequestModels:
          Products to be updated'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleOfProductCreationResult'
          description: Success
      summary: Bulk Patch Products
      tags:
      - Product
      x-contentType: application/json-patch+json
      x-accepts: application/json
    post:
      description: Upsert (update or create) products. The parent serves as the 'base'
        product of the children.<br />For example, the children could be different
        sizes or colors of the parent product.<br />For channels where every size
        and color are different products this does not make any difference<br />(the
        children will just be sent separately, while ignoring the parent).<br />But
        there are channels where the parent and the children need to be sent together,
        for example<br />when there is one product with a list of sizes. In this case
        all the product information is retrieved<br />from the parent product while
        the size list is generated from the children.<br /> <br />Note that the parent
        itself is a 'blueprint' of the child products and we do our best to make sure
        it<br />does not end up on the marketplaces itself. Only the children can
        be purchased.<br /> <br />It's not possible to nest parent and children more
        than one level (A parent can have many children,<br />but any child cannot
        itself also have children).<br /> <br />The supplied MerchantProductNo needs
        to be unique.<br /> <br />When "ignoreStock" query string parameter is set
        to "true", stock will not be updated
      operationId: ProductCreate
      parameters:
      - explode: true
        in: query
        name: ignoreStock
        required: false
        schema:
          default: false
          type: boolean
        style: form
      requestBody:
        content:
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/MerchantProductRequest'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/MerchantProductRequest'
              type: array
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/MerchantProductRequest'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleOfProductCreationResult'
          description: Success
      summary: Upsert Products.
      tags:
      - Product
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /v2/products/{merchantProductNo}:
    delete:
      description: Delete a product based on the merchant reference.<br />Note that
        we do not really delete a product, as the product<br />might still be referenced
        by orders etc. Therefore, the references<br />used for this product cannot
        be reused. We do however deactivate the product<br />which means that it will
        not be sent to channels.
      operationId: ProductDelete
      parameters:
      - description: The MerchantProductNo of the product you wish to delete.
        explode: false
        in: path
        name: merchantProductNo
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
      summary: Delete Product.
      tags:
      - Product
      x-accepts: application/json
    get:
      description: Retrieve a product based on the merchant reference.
      operationId: ProductGetByMerchantProductNo
      parameters:
      - description: The unique product reference used by the Merchant (sku).
        explode: false
        in: path
        name: merchantProductNo
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleOfMerchantProductResponse'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleOfMerchantProductResponse'
          description: Not Found
      summary: Get Product.
      tags:
      - Product
      x-accepts: application/json
    patch:
      description: 'Patch products. This endpoint allows you to update single fields
        on a product using patch operations,<br />without having to supply the other
        product information.<br /><br />The format of this endpoint is a JsonPatchDocument.
        Examples of how this format works can be found here:<br />http://jsonpatch.com/<br
        /> <br />It''s not possible to nest parent and children more than one level
        (A parent can have many children,<br />but any child cannot itself also have
        children).<br /> <br />The supplied MerchantProductNo needs to be unique.<br
        /><br /> <br />ExtraData used as translations is ignored and cannot be changed.<br
        /><br />Sample request:<br /> <br /> PATCH /v2/products/{merchantProductNo}<br
        /> {<br /> "value": "Value",<br /> "path": "Name",<br /> "op": "replace"<br
        /> }<br /> <br />Adding ExtraData:<br /><br /> PATCH /v2/products/{merchantProductNo}<br
        /> {<br /> "value": {"key": "Key1", "value": "value1"},<br /> "path": "extraData/0",<br
        /> "op": "add"<br /> }<br /> <br />Replacing ExtraData (will replace entire
        ExtraData collection):<br /><br /> PATCH /v2/products/{merchantProductNo}<br
        /> {<br /> "value": [{"key": "Key1", "value": "value1"}],<br /> "path": "extraData",<br
        /> "op": "replace"<br /> }<br /> <br />Removing all ExtraData:<br /><br />
        PATCH /v2/products/{merchantProductNo}<br /> {<br /> "path": "extraData",<br
        /> "op": "replace"<br /> }<br /> <br /> Or:<br /> <br /> PATCH /v2/products/{merchantProductNo}<br
        /> {<br /> "path": "extraData",<br /> "op": "remove"<br /> }'
      operationId: ProductPatch
      parameters:
      - description: The MerchantProductNo of the product you wish to patch
        explode: false
        in: path
        name: merchantProductNo
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/JsonPatchDocument'
        description: The JsonPatchDocument providing the operations you wish to perform
          on the product. <br /> Value contains the value you wish to set on the property
          you're updating (used with operations "add" and "replace").<br /> Path contains
          the path to the property you're updating (e.g. Description). Every property
          in the model used for creation an updating can be used.<br /> Op contains
          the operation you wish to perform ("add","replace","remove").<br /> From
          is only used when using the "move" operation. It refers to the source path
          of the value to be moved.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleOfProductCreationResult'
          description: Success
      summary: Patch product
      tags:
      - Product
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /v2/products/bulkdelete:
    post:
      description: Delete the products based on the merchant references.<br />Note
        that we do not really delete products, as the products<br />might still be
        referenced by orders. Therefore, the references<br />used for these products
        cannot be reused. We do however deactivate the products<br />which means that
        they will not be sent to channels.
      operationId: ProductBulkDelete
      requestBody:
        content:
          application/json-patch+json:
            schema:
              items:
                type: string
              type: array
          application/json:
            schema:
              items:
                type: string
              type: array
          application/*+json:
            schema:
              items:
                type: string
              type: array
        description: The list of MerchantProductNo of the products you wish to delete.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
      summary: Delete multiple Products.
      tags:
      - Product
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /v2/productbundles:
    get:
      description: You can get the full product information on bundles from the regular
        /products endpoint.
      operationId: ProductBundleGetByFilter
      parameters:
      - description: Search product(s) by Name, MerchantProductNo, Ean or Brand<br
          />This search is applied to the result after applying the other filters.
        explode: true
        in: query
        name: search
        required: false
        schema:
          description: "Search product(s) by Name, MerchantProductNo, Ean or Brand\r\
            \nThis search is applied to the result after applying the other filters."
          type: string
        style: form
      - description: Search products by submitting a list of EAN's.
        explode: true
        in: query
        name: eanList
        required: false
        schema:
          description: Search products by submitting a list of EAN's.
          items:
            type: string
          type: array
        style: form
      - description: Search products by submitting a list of MerchantProductNo's.
        explode: true
        in: query
        name: merchantProductNoList
        required: false
        schema:
          description: Search products by submitting a list of MerchantProductNo's.
          items:
            type: string
          type: array
        style: form
      - description: The page to filter on. Starts at 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: The page to filter on. Starts at 1.
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantProductBundleResponse'
          description: Success
      summary: Get product bundles.
      tags:
      - ProductBundle
      x-accepts: application/json
  /v2/returns/merchant:
    get:
      description: Get all returns created by the channel. This call is supposed<br
        />to be used by merchants. Channels should use the 'GET /v2/returns/channel'<br
        />call.
      operationId: ReturnGetDeclaredByChannel
      parameters:
      - description: Return status(es) to filter on.
        explode: true
        in: query
        name: statuses
        required: false
        schema:
          description: Return status(es) to filter on.
          items:
            $ref: '#/components/schemas/ReturnStatus'
          type: array
        style: form
      - description: Return reason(s) to filter on.
        explode: true
        in: query
        name: reasons
        required: false
        schema:
          description: Return reason(s) to filter on.
          items:
            $ref: '#/components/schemas/ReturnReason'
          type: array
        style: form
      - description: Filter on the creation date, starting from this date. This date
          is inclusive.
        explode: true
        in: query
        name: fromDate
        required: false
        schema:
          description: Filter on the creation date, starting from this date. This
            date is inclusive.
          format: date-time
          type: string
        style: form
      - description: Filter on the creation date, until this date. This date is exclusive.
        explode: true
        in: query
        name: toDate
        required: false
        schema:
          description: Filter on the creation date, until this date. This date is
            exclusive.
          format: date-time
          type: string
        style: form
      - description: Filters based on acknowledgements
        explode: true
        in: query
        name: isAcknowledged
        required: false
        schema:
          description: Filters based on acknowledgements
          type: boolean
        style: form
      - description: The page to filter on. Starts at 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: The page to filter on. Starts at 1.
          format: int32
          type: integer
        style: form
      - description: Filter on Channel IDs
        explode: true
        in: query
        name: channelIds
        required: false
        schema:
          description: Filter on Channel IDs
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: Filter on unique order reference used by the merchant.
        explode: true
        in: query
        name: merchantOrderNos
        required: false
        schema:
          description: Filter on unique order reference used by the merchant.
          items:
            type: string
          type: array
        style: form
      - description: Filter on unique order reference used by the channel.
        explode: true
        in: query
        name: channelOrderNos
        required: false
        schema:
          description: Filter on unique order reference used by the channel.
          items:
            type: string
          type: array
        style: form
      - description: Filter on the fulfillment type of the order.
        explode: true
        in: query
        name: fulfillmentType
        required: false
        schema:
          $ref: '#/components/schemas/FulfillmentType'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantReturnResponse'
          description: Success
      summary: Get Returns.
      tags:
      - Return
      x-accepts: application/json
    post:
      description: Mark (part of) an order as returned by the customer.
      operationId: ReturnDeclareForMerchant
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MerchantReturnRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantReturnRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MerchantReturnRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Conflict
      summary: Create Return.
      tags:
      - Return
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /v2/returns:
    get:
      description: Get all returns created by the merchant. This call is supposed<br
        />to be used by merchants. To get returns created by channels, the 'GET /v2/returns/merchant'
        endpoint should be used.<br />Channels should use the 'GET /v2/returns/channel'
        call.
      operationId: ReturnGetReturns
      parameters:
      - description: Filter on the return's creator. Default is MIXED.
        explode: true
        in: query
        name: creatorType
        required: false
        schema:
          $ref: '#/components/schemas/CreatorFilter'
        style: form
      - description: Filter on Channel IDs
        explode: true
        in: query
        name: channelIds
        required: false
        schema:
          description: Filter on Channel IDs
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: Filter on unique order reference used by the merchant.
        explode: true
        in: query
        name: merchantOrderNos
        required: false
        schema:
          description: Filter on unique order reference used by the merchant.
          items:
            type: string
          type: array
        style: form
      - description: Filter on unique order reference used by the channel.
        explode: true
        in: query
        name: channelOrderNos
        required: false
        schema:
          description: Filter on unique order reference used by the channel.
          items:
            type: string
          type: array
        style: form
      - description: Filter on the fulfillment type of the order.
        explode: true
        in: query
        name: fulfillmentType
        required: false
        schema:
          $ref: '#/components/schemas/FulfillmentType'
        style: form
      - description: Return status(es) to filter on.
        explode: true
        in: query
        name: statuses
        required: false
        schema:
          description: Return status(es) to filter on.
          items:
            $ref: '#/components/schemas/ReturnStatus'
          type: array
        style: form
      - description: Return reason(s) to filter on.
        explode: true
        in: query
        name: reasons
        required: false
        schema:
          description: Return reason(s) to filter on.
          items:
            $ref: '#/components/schemas/ReturnReason'
          type: array
        style: form
      - description: Filter on the creation date, starting from this date. This date
          is inclusive.
        explode: true
        in: query
        name: fromDate
        required: false
        schema:
          description: Filter on the creation date, starting from this date. This
            date is inclusive.
          format: date-time
          type: string
        style: form
      - description: Filter on the creation date, until this date. This date is exclusive.
        explode: true
        in: query
        name: toDate
        required: false
        schema:
          description: Filter on the creation date, until this date. This date is
            exclusive.
          format: date-time
          type: string
        style: form
      - description: Filters based on acknowledgements
        explode: true
        in: query
        name: isAcknowledged
        required: false
        schema:
          description: Filters based on acknowledgements
          type: boolean
        style: form
      - description: The page to filter on. Starts at 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: The page to filter on. Starts at 1.
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantReturnResponse'
          description: Success
      summary: Get Returns.
      tags:
      - Return
      x-accepts: application/json
    put:
      description: Mark a return as received.
      operationId: ReturnUpdateForMerchant
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MerchantReturnUpdateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantReturnUpdateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MerchantReturnUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Conflict
      summary: Mark a return as received.
      tags:
      - Return
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /v2/returns/merchant/new:
    get:
      description: Get all new / unhandled returns created by channels. This call
        is supposed<br />to be used by merchants. Channels should use the 'GET /v2/returns/channel'<br
        />call.
      operationId: ReturnGetUnhandled
      parameters:
      - description: Filter on Channel IDs
        explode: true
        in: query
        name: channelIds
        required: false
        schema:
          description: Filter on Channel IDs
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: The page to filter on. Starts at 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: The page to filter on. Starts at 1.
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantReturnResponse'
          description: Success
      summary: Get Unhandled Returns.
      tags:
      - Return
      x-accepts: application/json
  /v2/returns/merchant/{merchantOrderNo}:
    get:
      description: Retrieve returns based on the supplied merchant order number. May
        return more than 1 result.<br />This call is supposed to be used by merchants.
        Channels should use the 'GET /v2/returns/channel'<br />call.
      operationId: ReturnGetByMerchantOrderNo
      parameters:
      - explode: false
        in: path
        name: merchantOrderNo
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantSingleOrderReturnResponse'
          description: Success
      summary: Get Return.
      tags:
      - Return
      x-accepts: application/json
  /v2/returns/merchant/acknowledge:
    post:
      operationId: ReturnAcknowledge
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MerchantReturnAcknowledgeRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantReturnAcknowledgeRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MerchantReturnAcknowledgeRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Conflict
      summary: Acknowledge Return.
      tags:
      - Return
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /v2/settings:
    get:
      description: Get merchant base info, settings and vat number.
      operationId: SettingsGet
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleOfMerchantSettingsResponse'
          description: Success
      summary: Get settings.
      tags:
      - Settings
      x-accepts: application/json
  /v2/shipments/merchant:
    get:
      description: Gets all shipments that meet conditions.<br />If all filters are
        empty return all in default order (from the oldest one).
      operationId: ShipmentIndex
      parameters:
      - description: Filter on the unique references (ids) as used by the merchant.
        explode: true
        in: query
        name: merchantShipmentNos
        required: false
        schema:
          description: Filter on the unique references (ids) as used by the merchant.
          items:
            type: string
          type: array
        style: form
      - description: Filter on the unique references (ids) of order as used by the
          merchant.
        explode: true
        in: query
        name: merchantOrderNos
        required: false
        schema:
          description: Filter on the unique references (ids) of order as used by the
            merchant.
          items:
            type: string
          type: array
        style: form
      - description: Filter on the shipping method.
        explode: true
        in: query
        name: method
        required: false
        schema:
          description: Filter on the shipping method.
          type: string
        style: form
      - description: 2-digit Country code
        explode: true
        in: query
        name: shippedFromCountryCodes
        required: false
        schema:
          description: 2-digit Country code
          items:
            type: string
          type: array
        style: form
      - description: Filter on the shipment date, starting from this date. This date
          is inclusive.
        explode: true
        in: query
        name: fromShipmentDate
        required: false
        schema:
          description: Filter on the shipment date, starting from this date. This
            date is inclusive.
          format: date-time
          type: string
        style: form
      - description: Filter on the shipment date, until this date. This date is exclusive.
        explode: true
        in: query
        name: toShipmentDate
        required: false
        schema:
          description: Filter on the shipment date, until this date. This date is
            exclusive.
          format: date-time
          type: string
        style: form
      - description: Filter on the create date of the shipment in ChannelEngine, starting
          from this date. This date is inclusive.
        explode: true
        in: query
        name: fromCreateDate
        required: false
        schema:
          description: Filter on the create date of the shipment in ChannelEngine,
            starting from this date. This date is inclusive.
          format: date-time
          type: string
        style: form
      - description: Filter on the create date of the shipment in ChannelEngine, until
          this date. This date is exclusive.
        explode: true
        in: query
        name: toCreateDate
        required: false
        schema:
          description: Filter on the create date of the shipment in ChannelEngine,
            until this date. This date is exclusive.
          format: date-time
          type: string
        style: form
      - description: Filter on the update date of the shipment in ChannelEngine, starting
          from this date. This date is inclusive.
        explode: true
        in: query
        name: fromUpdateDate
        required: false
        schema:
          description: Filter on the update date of the shipment in ChannelEngine,
            starting from this date. This date is inclusive.
          format: date-time
          type: string
        style: form
      - description: Filter on the update date of the shipment in ChannelEngine, until
          this date. This date is exclusive.
        explode: true
        in: query
        name: toUpdateDate
        required: false
        schema:
          description: Filter on the update date of the shipment in ChannelEngine,
            until this date. This date is exclusive.
          format: date-time
          type: string
        style: form
      - description: Filter on the fulfillment type of the shipment.
        explode: true
        in: query
        name: fulfillmentType
        required: false
        schema:
          $ref: '#/components/schemas/ShipmentFulfillmentType'
        style: form
      - description: Filter on the unique references (ids) as used by the channel.
        explode: true
        in: query
        name: channelShipmentNos
        required: false
        schema:
          description: Filter on the unique references (ids) as used by the channel.
          items:
            type: string
          type: array
        style: form
      - description: Filter on the unique references (ids) of order as used by the
          channel.
        explode: true
        in: query
        name: channelOrderNos
        required: false
        schema:
          description: Filter on the unique references (ids) of order as used by the
            channel.
          items:
            type: string
          type: array
        style: form
      - description: The page to filter on. Starts at 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: The page to filter on. Starts at 1.
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantShipmentResponse'
          description: Success
      summary: Get Shipments
      tags:
      - Shipment
      x-accepts: application/json
  /v2/shipments:
    post:
      description: Mark (part of) an order as shipped.
      operationId: ShipmentCreate
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MerchantShipmentRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantShipmentRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MerchantShipmentRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Conflict
      summary: Create Shipment.
      tags:
      - Shipment
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /v2/shipments/{merchantShipmentNo}:
    put:
      description: Update an existing shipment with tracking information.
      operationId: ShipmentUpdate
      parameters:
      - description: The merchant's shipment reference.
        explode: false
        in: path
        name: merchantShipmentNo
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MerchantShipmentTrackingRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantShipmentTrackingRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MerchantShipmentTrackingRequest'
        description: The updated tracking information.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
      summary: Update Shipment.
      tags:
      - Shipment
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /v2/carriers/{merchantOrderNo}:
    post:
      description: Get the carriers for buying a shipping label from the channel
      operationId: ShipmentGetShipmentLabelCarriers
      parameters:
      - description: The merchant's order reference.
        explode: false
        in: path
        name: merchantOrderNo
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MerchantShipmentLabelCarrierRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantShipmentLabelCarrierRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MerchantShipmentLabelCarrierRequest'
        description: The parcel information
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantShipmentLabelCarrierResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
      summary: Get carriers for channel provided shipping labels
      tags:
      - Shipment
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /v2/shipments/channelmethod:
    post:
      description: Create a shipment, which will request a shipping label from the
        channel
      operationId: ShipmentCreateForChannelMethod
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MerchantChannelLabelShipmentRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantChannelLabelShipmentRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MerchantChannelLabelShipmentRequest'
        description: The shipment to create
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
      summary: Create shipment for channel provided shipping labels
      tags:
      - Shipment
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /v2/orders/{merchantShipmentNo}/shippinglabel:
    get:
      description: Downloads the shipping label for the shipment. There may pass some
        time between creating the shipment<br />and the availability of the label.
        So '404 Not Found' might incidate it is not available yet.
      operationId: ShipmentShippingLabel
      parameters:
      - description: The unique shipment reference as used by the merchant.
        explode: false
        in: path
        name: merchantShipmentNo
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.shippingLabel:
              schema:
                format: byte
                type: file
          description: shippingLabel
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
      summary: Download shipping label.
      tags:
      - Shipment
      x-accepts: application/json
  /v2/stocklocations:
    get:
      description: Get the different stock locations (or virtual warehouses) that
        are in use.<br />This may include stock locations for 'fulfillment by ...
        (Amazon/bol/CDiscount)' (FBA/LVB/FBC) solutions.<br />You can use the id's
        to get to stock of products in specific stock location, e.g. the FBA stock
        for the products.
      operationId: StockLocationIndex
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantStockLocationResponse'
          description: Success
      summary: Get the stock locations (or virtual warehouses).
      tags:
      - StockLocation
      x-accepts: application/json
  /v2/webhooks:
    get:
      description: Get all webhooks created in the ChannelEngine.
      operationId: WebhooksGetAll
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantWebhookResponse'
          description: Success
      summary: Get Webhooks.
      tags:
      - Webhook
      x-accepts: application/json
    post:
      description: Create a new webhook in the ChannelEngine.
      operationId: WebhooksCreate
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MerchantWebhookRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantWebhookRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MerchantWebhookRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Bad Request
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Conflict
      summary: Create Webhook.
      tags:
      - Webhook
      x-contentType: application/json-patch+json
      x-accepts: application/json
    put:
      description: Update a webhook in the ChannelEngine.
      operationId: WebhooksUpdate
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MerchantWebhookRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantWebhookRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MerchantWebhookRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
      summary: Update Webhook.
      tags:
      - Webhook
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /v2/webhooks/{webhookName}:
    delete:
      description: Delete a webhook based on the webhook name.
      operationId: WebhooksDelete
      parameters:
      - description: The unique name of a webhook you want to delete.
        explode: false
        in: path
        name: webhookName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
      summary: Delete Webhook.
      tags:
      - Webhook
      x-accepts: application/json
components:
  schemas:
    AdvanceSettingsResponse:
      additionalProperties: false
      example:
        SetOrdersToClosedOnImport: true
        DefaultVatRate: 6.027456183070403
        DisableAddressValidation: true
        DisableAutoOrderCancellation: true
        SkipHouseNumberValidationForCountryCodes:
        - SkipHouseNumberValidationForCountryCodes
        - SkipHouseNumberValidationForCountryCodes
        OrderTooLongOnNewHoursOffset: 1
        DisableStockReservation: true
        ManageStock: true
        AutomaticallySetPhoneNumberIfEmpty: AutomaticallySetPhoneNumberIfEmpty
        SkipHouseNumberValidation: true
      properties:
        ManageStock:
          type: boolean
        DisableAddressValidation:
          type: boolean
        SkipHouseNumberValidation:
          type: boolean
        SkipHouseNumberValidationForCountryCodes:
          items:
            type: string
          nullable: true
          type: array
        SetOrdersToClosedOnImport:
          type: boolean
        DisableStockReservation:
          type: boolean
        DisableAutoOrderCancellation:
          type: boolean
        AutomaticallySetPhoneNumberIfEmpty:
          nullable: true
          type: string
        DefaultVatRate:
          format: decimal
          type: number
        OrderTooLongOnNewHoursOffset:
          format: int32
          type: integer
      type: object
    ApiResponse:
      additionalProperties: false
      example:
        RequestId: RequestId
        Message: Message
        ValidationErrors:
          key:
          - ValidationErrors
          - ValidationErrors
        StatusCode: 0
        LogId: LogId
        Success: true
      properties:
        StatusCode:
          format: int32
          type: integer
        RequestId:
          nullable: true
          type: string
        LogId:
          nullable: true
          type: string
        Success:
          type: boolean
        Message:
          nullable: true
          type: string
        ValidationErrors:
          additionalProperties:
            items:
              type: string
            type: array
          nullable: true
          type: object
      type: object
    ChannelCarrierCollectionMethodApi:
      enum:
      - DROP_OFF
      - PICK_UP
      type: string
    ChannelCarrierRecommendationApi:
      enum:
      - NEUTRAL
      - RECOMMENDED
      - DISCOMMENDED
      type: string
    ChannelChannelResponse:
      additionalProperties: false
      example:
        ChannelName: ChannelName
        IsEnabled: true
        ChannelId: 6
      properties:
        ChannelId:
          description: The ID of the Channel.
          format: int32
          nullable: true
          type: integer
        IsEnabled:
          description: A boolean value indicating whether the Channel is enabled.
          type: boolean
        ChannelName:
          description: The name of the Channel.
          nullable: true
          type: string
      type: object
    ChannelGlobalChannelResponse:
      additionalProperties: false
      example:
        LanguageCode: LanguageCode
        GlobalChannelId: 0
        CountryCode: CountryCode
        Channels:
        - ChannelName: ChannelName
          IsEnabled: true
          ChannelId: 6
        - ChannelName: ChannelName
          IsEnabled: true
          ChannelId: 6
        GlobalChannelName: GlobalChannelName
      properties:
        CountryCode:
          description: The country code of the Global Channel.
          nullable: true
          type: string
        GlobalChannelId:
          description: The ID of the Global Channel.
          format: int32
          nullable: true
          type: integer
        Channels:
          description: The status of the instances.
          items:
            $ref: '#/components/schemas/ChannelChannelResponse'
          nullable: true
          type: array
        LanguageCode:
          description: The language code of the Global Channel.
          nullable: true
          type: string
        GlobalChannelName:
          description: The name of the Global Channel.
          nullable: true
          type: string
      type: object
    ChannelListedProductResponse:
      additionalProperties: false
      example:
        Ean: Ean
        LastExportedPrice: 0.8008281904610115
        MerchantProductNo: MerchantProductNo
        LastExportedStock: 6
      properties:
        ChannelStatus:
          $ref: '#/components/schemas/ListedProductChannelStatus'
        Ean:
          description: EAN
          nullable: true
          type: string
        ExportStatus:
          $ref: '#/components/schemas/ListedProductExportStatus'
        MerchantProductNo:
          description: Your product number (SKU)
          nullable: true
          type: string
        LastExportedPrice:
          description: Your product last exported price
          format: decimal
          nullable: true
          type: number
        LastExportedStock:
          description: Your product last exported stock
          format: int32
          nullable: true
          type: integer
      type: object
    CollectionOfChannelGlobalChannelResponse:
      additionalProperties: false
      example:
        TotalCount: 5
        RequestId: RequestId
        Message: Message
        ValidationErrors:
          key:
          - ValidationErrors
          - ValidationErrors
        Content:
        - LanguageCode: LanguageCode
          GlobalChannelId: 0
          CountryCode: CountryCode
          Channels:
          - ChannelName: ChannelName
            IsEnabled: true
            ChannelId: 6
          - ChannelName: ChannelName
            IsEnabled: true
            ChannelId: 6
          GlobalChannelName: GlobalChannelName
        - LanguageCode: LanguageCode
          GlobalChannelId: 0
          CountryCode: CountryCode
          Channels:
          - ChannelName: ChannelName
            IsEnabled: true
            ChannelId: 6
          - ChannelName: ChannelName
            IsEnabled: true
            ChannelId: 6
          GlobalChannelName: GlobalChannelName
        ItemsPerPage: 5
        Count: 1
        StatusCode: 2
        LogId: LogId
        Success: true
      properties:
        Content:
          items:
            $ref: '#/components/schemas/ChannelGlobalChannelResponse'
          nullable: true
          type: array
        Count:
          format: int32
          type: integer
        TotalCount:
          format: int32
          type: integer
        ItemsPerPage:
          format: int32
          type: integer
        StatusCode:
          format: int32
          type: integer
        RequestId:
          nullable: true
          type: string
        LogId:
          nullable: true
          type: string
        Success:
          type: boolean
        Message:
          nullable: true
          type: string
        ValidationErrors:
          additionalProperties:
            items:
              type: string
            type: array
          nullable: true
          type: object
      type: object
    CollectionOfChannelListedProductResponse:
      additionalProperties: false
      example:
        TotalCount: 5
        RequestId: RequestId
        Message: Message
        ValidationErrors:
          key:
          - ValidationErrors
          - ValidationErrors
        Content:
        - Ean: Ean
          LastExportedPrice: 0.8008281904610115
          MerchantProductNo: MerchantProductNo
          LastExportedStock: 6
        - Ean: Ean
          LastExportedPrice: 0.8008281904610115
          MerchantProductNo: MerchantProductNo
          LastExportedStock: 6
        ItemsPerPage: 5
        Count: 1
        StatusCode: 2
        LogId: LogId
        Success: true
      properties:
        Content:
          items:
            $ref: '#/components/schemas/ChannelListedProductResponse'
          nullable: true
          type: array
        Count:
          format: int32
          type: integer
        TotalCount:
          format: int32
          type: integer
        ItemsPerPage:
          format: int32
          type: integer
        StatusCode:
          format: int32
          type: integer
        RequestId:
          nullable: true
          type: string
        LogId:
          nullable: true
          type: string
        Success:
          type: boolean
        Message:
          nullable: true
          type: string
        ValidationErrors:
          additionalProperties:
            items:
              type: string
            type: array
          nullable: true
          type: object
      type: object
    CollectionOfMerchantNotificationResponse:
      additionalProperties: false
      example:
        TotalCount: 5
        RequestId: RequestId
        Message: Message
        ValidationErrors:
          key:
          - ValidationErrors
          - ValidationErrors
        Content:
        - Read: true
          Message: Message
          CreatedAt: 2000-01-23T04:56:07.000+00:00
          Id: 0
          Count: 6
          Subject: Subject
        - Read: true
          Message: Message
          CreatedAt: 2000-01-23T04:56:07.000+00:00
          Id: 0
          Count: 6
          Subject: Subject
        ItemsPerPage: 5
        Count: 1
        StatusCode: 2
        LogId: LogId
        Success: true
      properties:
        Content:
          items:
            $ref: '#/components/schemas/MerchantNotificationResponse'
          nullable: true
          type: array
        Count:
          format: int32
          type: integer
        TotalCount:
          format: int32
          type: integer
        ItemsPerPage:
          format: int32
          type: integer
        StatusCode:
          format: int32
          type: integer
        RequestId:
          nullable: true
          type: string
        LogId:
          nullable: true
          type: string
        Success:
          type: boolean
        Message:
          nullable: true
          type: string
        ValidationErrors:
          additionalProperties:
            items:
              type: string
            type: array
          nullable: true
          type: object
      type: object
    CollectionOfMerchantOfferGetStockResponse:
      additionalProperties: false
      example:
        TotalCount: 5
        RequestId: RequestId
        Message: Message
        ValidationErrors:
          key:
          - ValidationErrors
          - ValidationErrors
        Content:
        - StockLocationId: 0
          MerchantProductNo: MerchantProductNo
          UpdatedAt: 2000-01-23T04:56:07.000+00:00
          Stock: 6
        - StockLocationId: 0
          MerchantProductNo: MerchantProductNo
          UpdatedAt: 2000-01-23T04:56:07.000+00:00
          Stock: 6
        ItemsPerPage: 5
        Count: 1
        StatusCode: 2
        LogId: LogId
        Success: true
      properties:
        Content:
          items:
            $ref: '#/components/schemas/MerchantOfferGetStockResponse'
          nullable: true
          type: array
        Count:
          format: int32
          type: integer
        TotalCount:
          format: int32
          type: integer
        ItemsPerPage:
          format: int32
          type: integer
        StatusCode:
          format: int32
          type: integer
        RequestId:
          nullable: true
          type: string
        LogId:
          nullable: true
          type: string
        Success:
          type: boolean
        Message:
          nullable: true
          type: string
        ValidationErrors:
          additionalProperties:
            items:
              type: string
            type: array
          nullable: true
          type: object
      type: object
    CollectionOfMerchantOrderResponse:
      additionalProperties: false
      example:
        TotalCount: 6
        RequestId: RequestId
        Message: Message
        ValidationErrors:
          key:
          - ValidationErrors
          - ValidationErrors
        Content:
        - MerchantComment: MerchantComment
          Email: Email
          VatNo: VatNo
          SubTotalInclVat: 5.962133916683182
          CreatedAt: 2000-01-23T04:56:07.000+00:00
          OriginalShippingCostsVat: 7.386281948385884
          GlobalChannelId: 1
          ChannelId: 6
          BillingAddress:
            StreetName: StreetName
            HouseNrAddition: HouseNrAddition
            CountryIso: CountryIso
            FirstName: FirstName
            ZipCode: ZipCode
            City: City
            CompanyName: CompanyName
            HouseNr: HouseNr
            Region: Region
            LastName: LastName
            Line1: Line1
            Original: Original
            Line2: Line2
            Line3: Line3
          OriginalSubTotalVat: 2.027123023002322
          CurrencyCode: CurrencyCode
          CompanyRegistrationNo: CompanyRegistrationNo
          TotalVat: 9.301444243932576
          Phone: Phone
          MerchantOrderNo: MerchantOrderNo
          ChannelCustomerNo: ChannelCustomerNo
          ShippingCostsVat: 2.3021358869347655
          SubTotalVat: 5.637376656633329
          TotalInclVat: 7.061401241503109
          ChannelOrderNo: ChannelOrderNo
          ExtraData:
            key: ExtraData
          UpdatedAt: 2000-01-23T04:56:07.000+00:00
          GlobalChannelName: GlobalChannelName
          OrderDate: 2000-01-23T04:56:07.000+00:00
          AcknowledgedDate: 2000-01-23T04:56:07.000+00:00
          ChannelName: ChannelName
          PaymentReferenceNo: PaymentReferenceNo
          ShippingAddress:
            StreetName: StreetName
            HouseNrAddition: HouseNrAddition
            CountryIso: CountryIso
            FirstName: FirstName
            ZipCode: ZipCode
            City: City
            CompanyName: CompanyName
            HouseNr: HouseNr
            Region: Region
            LastName: LastName
            Line1: Line1
            Original: Original
            Line2: Line2
            Line3: Line3
          OriginalTotalVat: 1.0246457001441578
          ShippingCostsInclVat: 2.8841621266687802
          IsBusinessOrder: true
          OriginalSubTotalInclVat: 3.616076749251911
          PaymentMethod: PaymentMethod
          Id: 0
          OriginalShippingCostsInclVat: 4.145608029883936
          OriginalTotalInclVat: 1.2315135367772556
          Lines:
          - UnitVat: 6.84685269835264
            BundleProductMerchantProductNo: BundleProductMerchantProductNo
            Description: Description
            StockLocation:
              Id: 1
              Name: Name
            JurisCode: JurisCode
            OriginalUnitVat: 5.025004791520295
            IsFulfillmentByMarketplace: true
            OriginalLineTotalInclVat: 9.965781217890562
            Gtin: Gtin
            OriginalFeeFixed: 6.683562403749608
            OriginalLineVat: 9.369310271410669
            ChannelProductNo: ChannelProductNo
            UnitPriceInclVat: 0.35571952270680973
            JurisName: JurisName
            FeeFixed: 0.6965117697638845
            FeeRate: 0.1284659006116532
            Quantity: 0
            ExtraData:
            - Value: Value
              Key: Key
            - Value: Value
              Key: Key
            VatRate: 8.762042012749001
            OriginalUnitPriceInclVat: 4.965218492984954
            LineVat: 1.1730742509559433
            CancellationRequestedQuantity: 0
            ExpectedDeliveryDate: 2000-01-23T04:56:07.000+00:00
            MerchantProductNo: MerchantProductNo
            LineTotalInclVat: 7.457744773683766
          - UnitVat: 6.84685269835264
            BundleProductMerchantProductNo: BundleProductMerchantProductNo
            Description: Description
            StockLocation:
              Id: 1
              Name: Name
            JurisCode: JurisCode
            OriginalUnitVat: 5.025004791520295
            IsFulfillmentByMarketplace: true
            OriginalLineTotalInclVat: 9.965781217890562
            Gtin: Gtin
            OriginalFeeFixed: 6.683562403749608
            OriginalLineVat: 9.369310271410669
            ChannelProductNo: ChannelProductNo
            UnitPriceInclVat: 0.35571952270680973
            JurisName: JurisName
            FeeFixed: 0.6965117697638845
            FeeRate: 0.1284659006116532
            Quantity: 0
            ExtraData:
            - Value: Value
              Key: Key
            - Value: Value
              Key: Key
            VatRate: 8.762042012749001
            OriginalUnitPriceInclVat: 4.965218492984954
            LineVat: 1.1730742509559433
            CancellationRequestedQuantity: 0
            ExpectedDeliveryDate: 2000-01-23T04:56:07.000+00:00
            MerchantProductNo: MerchantProductNo
            LineTotalInclVat: 7.457744773683766
        - MerchantComment: MerchantComment
          Email: Email
          VatNo: VatNo
          SubTotalInclVat: 5.962133916683182
          CreatedAt: 2000-01-23T04:56:07.000+00:00
          OriginalShippingCostsVat: 7.386281948385884
          GlobalChannelId: 1
          ChannelId: 6
          BillingAddress:
            StreetName: StreetName
            HouseNrAddition: HouseNrAddition
            CountryIso: CountryIso
            FirstName: FirstName
            ZipCode: ZipCode
            City: City
            CompanyName: CompanyName
            HouseNr: HouseNr
            Region: Region
            LastName: LastName
            Line1: Line1
            Original: Original
            Line2: Line2
            Line3: Line3
          OriginalSubTotalVat: 2.027123023002322
          CurrencyCode: CurrencyCode
          CompanyRegistrationNo: CompanyRegistrationNo
          TotalVat: 9.301444243932576
          Phone: Phone
          MerchantOrderNo: MerchantOrderNo
          ChannelCustomerNo: ChannelCustomerNo
          ShippingCostsVat: 2.3021358869347655
          SubTotalVat: 5.637376656633329
          TotalInclVat: 7.061401241503109
          ChannelOrderNo: ChannelOrderNo
          ExtraData:
            key: ExtraData
          UpdatedAt: 2000-01-23T04:56:07.000+00:00
          GlobalChannelName: GlobalChannelName
          OrderDate: 2000-01-23T04:56:07.000+00:00
          AcknowledgedDate: 2000-01-23T04:56:07.000+00:00
          ChannelName: ChannelName
          PaymentReferenceNo: PaymentReferenceNo
          ShippingAddress:
            StreetName: StreetName
            HouseNrAddition: HouseNrAddition
            CountryIso: CountryIso
            FirstName: FirstName
            ZipCode: ZipCode
            City: City
            CompanyName: CompanyName
            HouseNr: HouseNr
            Region: Region
            LastName: LastName
            Line1: Line1
            Original: Original
            Line2: Line2
            Line3: Line3
          OriginalTotalVat: 1.0246457001441578
          ShippingCostsInclVat: 2.8841621266687802
          IsBusinessOrder: true
          OriginalSubTotalInclVat: 3.616076749251911
          PaymentMethod: PaymentMethod
          Id: 0
          OriginalShippingCostsInclVat: 4.145608029883936
          OriginalTotalInclVat: 1.2315135367772556
          Lines:
          - UnitVat: 6.84685269835264
            BundleProductMerchantProductNo: BundleProductMerchantProductNo
            Description: Description
            StockLocation:
              Id: 1
              Name: Name
            JurisCode: JurisCode
            OriginalUnitVat: 5.025004791520295
            IsFulfillmentByMarketplace: true
            OriginalLineTotalInclVat: 9.965781217890562
            Gtin: Gtin
            OriginalFeeFixed: 6.683562403749608
            OriginalLineVat: 9.369310271410669
            ChannelProductNo: ChannelProductNo
            UnitPriceInclVat: 0.35571952270680973
            JurisName: JurisName
            FeeFixed: 0.6965117697638845
            FeeRate: 0.1284659006116532
            Quantity: 0
            ExtraData:
            - Value: Value
              Key: Key
            - Value: Value
              Key: Key
            VatRate: 8.762042012749001
            OriginalUnitPriceInclVat: 4.965218492984954
            LineVat: 1.1730742509559433
            CancellationRequestedQuantity: 0
            ExpectedDeliveryDate: 2000-01-23T04:56:07.000+00:00
            MerchantProductNo: MerchantProductNo
            LineTotalInclVat: 7.457744773683766
          - UnitVat: 6.84685269835264
            BundleProductMerchantProductNo: BundleProductMerchantProductNo
            Description: Description
            StockLocation:
              Id: 1
              Name: Name
            JurisCode: JurisCode
            OriginalUnitVat: 5.025004791520295
            IsFulfillmentByMarketplace: true
            OriginalLineTotalInclVat: 9.965781217890562
            Gtin: Gtin
            OriginalFeeFixed: 6.683562403749608
            OriginalLineVat: 9.369310271410669
            ChannelProductNo: ChannelProductNo
            UnitPriceInclVat: 0.35571952270680973
            JurisName: JurisName
            FeeFixed: 0.6965117697638845
            FeeRate: 0.1284659006116532
            Quantity: 0
            ExtraData:
            - Value: Value
              Key: Key
            - Value: Value
              Key: Key
            VatRate: 8.762042012749001
            OriginalUnitPriceInclVat: 4.965218492984954
            LineVat: 1.1730742509559433
            CancellationRequestedQuantity: 0
            ExpectedDeliveryDate: 2000-01-23T04:56:07.000+00:00
            MerchantProductNo: MerchantProductNo
            LineTotalInclVat: 7.457744773683766
        ItemsPerPage: 5
        Count: 6
        StatusCode: 6
        LogId: LogId
        Success: true
      properties:
        Content:
          items:
            $ref: '#/components/schemas/MerchantOrderResponse'
          nullable: true
          type: array
        Count:
          format: int32
          type: integer
        TotalCount:
          format: int32
          type: integer
        ItemsPerPage:
          format: int32
          type: integer
        StatusCode:
          format: int32
          type: integer
        RequestId:
          nullable: true
          type: string
        LogId:
          nullable: true
          type: string
        Success:
          type: boolean
        Message:
          nullable: true
          type: string
        ValidationErrors:
          additionalProperties:
            items:
              type: string
            type: array
          nullable: true
          type: object
      type: object
    CollectionOfMerchantProductBundleResponse:
      additionalProperties: false
      example:
        TotalCount: 5
        RequestId: RequestId
        Message: Message
        ValidationErrors:
          key:
          - ValidationErrors
          - ValidationErrors
        Content:
        - Ean: Ean
          Price: 0.8008281904610115
          Parts:
          - Ean: Ean
            Price: 1.4658129805029452
            Quantity: 6
            MerchantProductNo: MerchantProductNo
            Name: Name
          - Ean: Ean
            Price: 1.4658129805029452
            Quantity: 6
            MerchantProductNo: MerchantProductNo
            Name: Name
          MerchantProductNo: MerchantProductNo
          Name: Name
        - Ean: Ean
          Price: 0.8008281904610115
          Parts:
          - Ean: Ean
            Price: 1.4658129805029452
            Quantity: 6
            MerchantProductNo: MerchantProductNo
            Name: Name
          - Ean: Ean
            Price: 1.4658129805029452
            Quantity: 6
            MerchantProductNo: MerchantProductNo
            Name: Name
          MerchantProductNo: MerchantProductNo
          Name: Name
        ItemsPerPage: 2
        Count: 5
        StatusCode: 7
        LogId: LogId
        Success: true
      properties:
        Content:
          items:
            $ref: '#/components/schemas/MerchantProductBundleResponse'
          nullable: true
          type: array
        Count:
          format: int32
          type: integer
        TotalCount:
          format: int32
          type: integer
        ItemsPerPage:
          format: int32
          type: integer
        StatusCode:
          format: int32
          type: integer
        RequestId:
          nullable: true
          type: string
        LogId:
          nullable: true
          type: string
        Success:
          type: boolean
        Message:
          nullable: true
          type: string
        ValidationErrors:
          additionalProperties:
            items:
              type: string
            type: array
          nullable: true
          type: object
      type: object
    CollectionOfMerchantProductResponse:
      additionalProperties: false
      example:
        TotalCount: 7
        RequestId: RequestId
        Message: Message
        ValidationErrors:
          key:
          - ValidationErrors
          - ValidationErrors
        Content:
        - MSRP: 1.4658129805029452
          Description: Description
          IsActive: true
          Size: Size
          PurchasePrice: 5.962133916683182
          Url: Url
          Name: Name
[...]
